header {
    height: 80px;
    width: 100%;
    display: flex;
    padding: 2rem 1.5rem;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #EAECF0;
    flex-wrap: nowrap;
    flex-direction: row;
    .user-profile {
        span {
            display: none;
        }
        img {
            margin-right: 10px;
        }
    }
    .search {
        display: none;
    }
    .hamburger {
        position: absolute;
        right: 50px;
    }

}
.container-fluid {
    .row {
        height: 100%;    
    }
    height: calc(100% - 80px);
}
@include media-breakpoint-up(md) {
    header {
        .search {
            display: flex;
            width: 564px;
            padding: 10px 16px;
            border-radius: 72px;
            border: 1px solid #EAECF0;
            background: #FCFCFD;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
        }
        .user-profile {
            span {
                display: block;
            }
            img {
                margin-right: 10px;
            }
        }
    }
}

