.nav {
    display:none;
    position: relative;
    button {
        display: inline-flex;
        align-items: center;
        width: 100%;
        svg {
            // margin-right: 0.5rem;
            width: 24px;
        }
    }
    svg {
        width: 24px;
        height: 24px;
    }
    .bottom {
        display: none;
    }
}
.nav, nav.search {
    background-color: white;
    background: var(--core-background-default, #FFF);
    height:calc(100% - 80px);
    width: 100%;
    ul {
        width: 100%;
    }
    li {
        width: 100%;
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid $border;
        img {
            margin-right: 0.5rem;
        }
        a {
            color: $coreContentDefault;
        }
        &.selected {
            border-right: 4px solid $primary;
            background-color: #F9FAFB;
        }
        .create {
            width: 100%;
        }
    }
}
.search {
    width: 100%;
    display: flex;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    padding: 1rem 0;
    text-align: left;
    border-bottom: 1px solid #EAECF0;
    background: var(--base-white, #FFF);
    padding-left: 1rem;
    img {
        margin-right: 0.6rem;
    }
    input {
        margin-bottom: 0;
        padding: 0.2rem 0;
        border: none;
        outline: none;
        width: calc(100% - 25px);
        background: transparent;
    }
}
.hamburger {
    position: relative;
    .McButton {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top: -11px;
        width: 22px;
        height: 16px;
        cursor: pointer;
        b {
          position: absolute;
          left: 0;
          width: 22px;
          height: 3px;
          background-color: $coreContentDefault;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
          }
          &:nth-child(3) {
            top: 100%;
          }
        }
    }
}
@include media-breakpoint-up(md) {
    .search {
        display: inline-block;
    }
    .nav {
        width: 88px;
        border-right: 1px solid $border;
        font-size: 14px;
        display: block;
        max-width: 220px;
        &.open {
            width: 20%;
            min-width: 192px;
            -webkit-animation: slide 0.5s forwards;
            -webkit-animation-delay: 2s;
            animation: slide 0.5s forwards;
            animation-delay: 2s;
            li {
                text-align: left;
                padding: 1rem 1.75rem;
            }
            button {
                svg {
                    margin: 0;
                }
            }
        }
        li, button {
            span {
                display: none;
                margin-left: 0.5rem;
                &.show {
                    display: inline-block;
                }
            }
        }
        li {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: none;
            background: var(--base-white, #FFF);
            text-align: center;
            a {
                width: 100%;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                }
                img {
                    margin-right:0;
                }
            }
            &:last-child {
                display: none;
            }
                &:hover {
                    border-right: 4px solid $primary;
                    background-color: #F9FAFB;
                }
        }
        .search {
            display: none;
        }
        button {
            font-size: 14px;
            width: 100%;
            svg {
                margin: 0 auto;
            }
        }
        .bottom {
            position: absolute;
            bottom: 3%;
            width: 100%;
            text-align: center;
            padding: 0 0.5rem;
            display: block;
            .expand {
                text-align: left;
                margin-top: 2rem;
            }
            svg {
                transition: 0.5s linear all;
            }
            svg.flip {
                transform: rotate(-180deg);
                -moz-transition: transform 0.5s ;
                -webkit-transition: transform 0.5s ;
                transition: transform 0.5s ;
            }
        }
    }
}
