<div id="nav" class="nav flex-column flex-shrink-0">
    <div class="search">
      <img src="/img/navigation/search.svg" alt="TransferRoom" />
      <input type="search" placeholder="Search..."/>
    </div>
    <ul class="nav-pills nav-flush flex-column text-center">
      <li class="nav-item">
        <a href="#" class=" py-3" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
            <img src="/img/navigation/home.svg" alt="TransferRoom Home" />
            <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#" class=" py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
          <img src="/img/navigation/transfer-out.svg" alt="TransferRoom" />
          <span>Transfers Out</span>
        </a>
      </li>
      <li>
        <a href="#" class=" py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
          <img src="/img/navigation/messages.svg" alt="TransferRoom" />
          <span>Messages</span>
        </a>
      </li>
      <li>
        <a href="#" class=" py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
          <img src="/img/navigation/profile.svg" alt="TransferRoom" />
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="#" class=" py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
          <img src="/img/navigation/events.svg" alt="TransferRoom" />
          <span>Events</span>
        </a>
      </li>
      <li>
          <button type="button" class="btn btn-primary btn-lg btn-block create" data-toggle="button" aria-pressed="false" autocomplete="off">Create</button>
      </li>
    </ul>
   
  </div>