<%- include ("./partials/header") %>

<%- include ("./partials/nav") %>

    <main id="swup" class="transition-fade home">


        <section class="someClass">
            <div class="container">
               

        </section>


        <%- include ("./partials/footer") %>
