<%- include ("./partials/header") %>

<%- include ("./partials/nav") %>

        <div class="col py-4">
            Content area...
        </div>

            

        <%- include ("./partials/footer") %>
